/*===============================*/
/*=========REUSABLE ITEMS========*/
/*===============================*/

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #242424;
    color: #ffff;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    padding: 20px;
  }
  
  /* Hide all pages by default */
  .page {
    display: none;
  }
  
  /* Display the active page */
  .page.active {
    display: block;
  }
  
  /*===============================*/
  /*===========NAVBAR==============*/
  /*===============================*/
  
  .nav {
    width: 100%;
    background-color: #181819;
    padding: 10px;
    text-align: center;
  }
  
  .nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
  }
  
  .nav a:hover {
    color: #e8a03e;
    transition: color 0.3s ease-in-out;
  }
  
  /*===============================*/
  /*=============HOME==============*/
  /*===============================*/
  
  .card {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    /* width: 80%; */
    text-align: center;
  }
  
  .card h2 {
    color: #23a7f2;
    margin-bottom: 20px;
  }
  
  .home-card {
    display: flex;
    justify-content: space-between;
  }
  
  .home-card div {
    width: 45%;
  }
  
  .home-card div:last-child h2 {
    margin-top: 35px;
  }
  
  .logout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pfp {
    width: 250px !important;
    height: 250px;
    border-radius: 50%;
    background-color: #23a6f2a0;
    margin: 0 auto;
  }
  
  .pfp div {
    width: 100%;
    height: 100%;
    border-radius: 30%;
    background-image: url("./img/cy.png");
    background-size: cover;
    background-position: center;
  }
  
  a.card {
    text-decoration: none;
    color: #e8a03e;
    font-weight: bold;
    width: 80%;
  }
  
  a.card:hover {
    color: #ffffff;
    transform: translateY(-5px);
    box-shadow: 0 5px 18px rgba(192, 187, 187, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  }
  
  /*===============================*/
  /*===========COMMANDS============*/
  /*===============================*/
  
  .list-item {
    background-color: #005a8e;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .list-item:hover {
    box-shadow: 0 5px 18px rgba(192, 187, 187, 0.228);
    transition: box-shadow 0.3s ease;
  }
  
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .toggle-switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #1db954;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  /* Table Styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border: 1px solid #333333;
  }
  
  th {
    background-color: #333333;
  }
  
  td {
    background-color: #1f1f1f;
  }
  
  /*======================================*/
  /*=============PERMISSIONS==============*/
  /*======================================*/
  
  #permissions {
    margin-left: 52px;
  }
  
  .permissions-card {
    background-color: #1f1f1f;
    border: 2px solid #23a7f2;
    border-radius: 9px;
    padding: 15px;
    margin: 15px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
  }
  
  .permissions-card:hover {
    box-shadow: 0 5px 18px rgba(192, 187, 187, 0.15);
    transition: box-shadow 0.2s ease;
  }
  
  .permissions-card h2 {
    font-size: 24px;
    color: #23a7f2;
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .permissions-card h2::after {
    content: "▼"; /* Down arrow */
    font-size: 18px;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }
  
  .permissions-card.collapsed h2::after {
    transform: rotate(-90deg); /* Rotates the arrow when collapsed */
  }
  
  .permissions-card ul,
  .permissions-card li,
  .permissions-card input {
    /* overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease; */
    overflow-y: auto;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.8s ease, opacity 0.8s ease;
  }
  
  .permissions-card.collapsed input {
    display: none;
  }
  
  .permissions-card.expanded ul,
  .permissions-card.expanded li,
  .permissions-card.expanded input {
    /* max-height: max-content;
    opacity: 1; */
    max-height: 300px; /* Adjust this value to set the maximum height */
    opacity: 1;
  }
  
  /*------scrollbar styling--------*/
  .permissions-card ul::-webkit-scrollbar {
    width: 6px;
    margin-left: 30px;
  }
  
  .permissions-card ul::-webkit-scrollbar-track {
    background: #555555;
  }
  
  .permissions-card ul::-webkit-scrollbar-thumb {
    background: #23a6f293;
    border-radius: 3px;
  }
  
  .permissions-card ul::-webkit-scrollbar-thumb:hover {
    background: #1771a598;
  }
  /* ----------------------------- */
  
  .permissions-card input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #333333;
    border: none;
    border-radius: 5px;
    color: #ffffff;
  }
  
  .permissions-card input[type="text"]:hover {
    transform: translateY(-2px);
    transition: transform 0.3s ease;
  }
  
  .permissions-card input[type="text"]:focus {
    outline: none;
  }
  
  .id-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .id-list li {
    background-color: #333333;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .id-list li span {
    flex-grow: 1;
  }
  
  .id-list li .remove-id {
    background-color: #d63031;
    border: none;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
  }
  
  .id-list li .remove-id:hover {
    background-color: #ff393a;
    transition: background-color 0.3s ease;
  }
  
  /*======================================*/
  /*==============LOGOUT=================*/
  /*======================================*/
  
  .logout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .logout a {
    background-color: #23a7f2;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
  }
  
  .logout a:hover {
    background-color: #1771a5;
    transition: background-color 0.3s ease-in-out;
  }
  