@font-face {
    font-family: DsWhitney;
    src: local("Whitney"), url("../fonts/whitney-300.woff");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: DsWhitney;
    src: local("Whitney"), url("../fonts/whitney-400.woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: DsWhitney;
    src: local("Whitney"), url("../fonts/whitney-500.woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: DsWhitney;
    src: local("Whitney"), url("../fonts/whitney-600.woff");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: DsWhitney;
    src: local("Whitney"), url("../fonts/whitney-700.woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

:root {
    --link: #00b0f4;
    --embedTextColor: #dcddde;
    --embedTextColor2: #72767d;
    --embedBackground: #2f3136;
    --fullEmbedBackground: #36393f;
    --side1Background: #2c2e33;
    --side1Background: #2f3136;
    --background-secondary: #2f3136;
    --background-tertiary: #202225;
    --header-secondary: #b9bbbe;
    --interactive-muted: #4f545c;
}

* {
    outline: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1;
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    background-color: var(--fullEmbedBackground);
    color: #fff;
}

.side1 {
    display: none;
}

body.no-user .msgEmbed>.contents {
    display: none;
}

.hidden,
.embed.emptyEmbed {
    display: none;
}

.pointer {
    cursor: pointer;
}

.main {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
}

body:not(.no-preview):not(.no-editor) .main {
    grid-template-columns: 45% 55%;
}

.main section {
    min-height: 0;
    padding-right: 0;
    position: relative;
}

.main .side2 {
    height: 100%;
    justify-content: center;
    vertical-align: center;
    overflow: auto;
    scrollbar-color: #26272d #36393f;
    scrollbar-width: thin;
    font-family: DsWhitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: var(--fullEmbedBackground);
}

::-webkit-scrollbar {
    width: 7px;
    background: #36393f;
}

.main .side2::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #26272d;
}

a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.hljs-comment,
.hljs-quote {
    color: var(--interactive-muted);
}

.hljs-addition,
.hljs-keyword,
.hljs-selector-tag {
    color: #859900;
}

.hljs-doctag,
.hljs-literal,
.hljs-meta .hljs-meta-string,
.hljs-number,
.hljs-regexp,
.hljs-string {
    color: #2aa198;
}

.hljs-name,
.hljs-section,
.hljs-selector-class,
.hljs-selector-id,
.hljs-title {
    color: #268bd2;
}

.hljs-attr,
.hljs-attribute,
.hljs-class .hljs-title,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
    color: #b58900;
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-subst,
.hljs-symbol {
    color: #cb4b16;
}

.hljs-built_in,
.hljs-deletion {
    color: #dc322f;
}

.hljs-formula {
    background: #073642;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: 700;
}

code,
[class^="cm-"] {
    font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
    font-size: 14px;
    line-height: 16px;
}

a img {
    border: none;
}

::-webkit-input-placeholder,
body,
button,
input,
select,
textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizelegibility;
}

::placeholder,
body,
button,
input,
select,
textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizelegibility;
}

a,
button,
div,
input,
label,
select,
span,
strong,
textarea {
    outline: 0px;
}

img[alt] {
    text-indent: -9999px;
}

.\@ {
    background-color: hsla(38, calc(var(--saturation-factor, 1)*95.7%), 54.1%, 0.1);
}

.\@::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 2px;
}

.mention {
    background-color: hsla(235, calc(85.6%), 64.7%, 0.3);
    transition: background-color 50ms ease-out, color 50ms ease-out;
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
    position: relative;
}

.mention.channel::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='hsl(236,calc(83.3%),92.9%)' fill-rule='evenodd' clip-rule='evenodd' d='M5.88657 21C5.57547 21 5.3399 20.7189 5.39427 20.4126L6.00001 17H2.59511C2.28449 17 2.04905 16.7198 2.10259 16.4138L2.27759 15.4138C2.31946 15.1746 2.52722 15 2.77011 15H6.35001L7.41001 9H4.00511C3.69449 9 3.45905 8.71977 3.51259 8.41381L3.68759 7.41381C3.72946 7.17456 3.93722 7 4.18011 7H7.76001L8.39677 3.41262C8.43914 3.17391 8.64664 3 8.88907 3H9.87344C10.1845 3 10.4201 3.28107 10.3657 3.58738L9.76001 7H15.76L16.3968 3.41262C16.4391 3.17391 16.6466 3 16.8891 3H17.8734C18.1845 3 18.4201 3.28107 18.3657 3.58738L17.76 7H21.1649C21.4755 7 21.711 7.28023 21.6574 7.58619L21.4824 8.58619C21.4406 8.82544 21.2328 9 20.9899 9H17.41L16.35 15H19.7549C20.0655 15 20.301 15.2802 20.2474 15.5862L20.0724 16.5862C20.0306 16.8254 19.8228 17 19.5799 17H16L15.3632 20.5874C15.3209 20.8261 15.1134 21 14.8709 21H13.8866C13.5755 21 13.3399 20.7189 13.3943 20.4126L14 17H8.00001L7.36325 20.5874C7.32088 20.8261 7.11337 21 6.87094 21H5.88657ZM9.41045 9L8.35045 15H14.3504L15.4104 9H9.41045Z'%3E%3C/path%3E%3C/svg%3E");
    width: 1.05rem;
    height: 1.3rem;
    -o-object-fit: contain;
    object-fit: contain;
    position: relative;
    left: .125rem;
    top: 3px;
    display: inline-block;
    margin-right: .125rem;
    color: hsl(236, calc(83.3%), 92.9%);
}

.mention.interactive:hover {
    color: #fff;
    cursor: pointer;
    background-color: hsl(235, calc(85.6%), 64.7%);
}

.msgEmbed {
    min-height: 2.75rem;
    position: absolute;
    overflow-wrap: break-word;
    user-select: text;
    width: 100%;
    margin: 10px 0 0 0;
    padding: calc(0.125rem + 10px) 20px 20px 92px;
}

body.no-user .msgEmbed {
    padding-left: 35px;
}

.msgEmbed:hover {
    background-color: #04040512;
}

.embedTitle>* {
    line-height: 1.375rem;
}

.botTagVerified {
    display: none;
}

.contents {
    position: static;
    margin-left: 0px;
    padding-left: 0px;
    text-indent: 0px;
}

.contents.verified .botTag {
    padding-left: 0;
}

.contents.verified .botTagVerified {
    display: block;
}

.avatar {
    position: absolute;
    left: 36px;
    margin-top: calc(4px - 0.125rem);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    flex: 0 0 auto;
    z-index: 1;
}

.timeText {
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: var(--embedTextColor2);
    vertical-align: baseline;
    margin-left: 0.25rem;
    display: inline-block;
    height: 1.25rem;
    cursor: default;
    pointer-events: none;
    font-weight: 500;
}

.botTag {
    height: 0.9375rem;
    padding: 0px 0.275rem;
    margin-top: 0.075em;
    border-radius: 0.1875rem;
    background: #5961ec;
    font-size: 0.625rem;
    text-transform: uppercase;
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    text-indent: 0px;
    position: relative;
    top: 0.1rem;
    margin-left: 0.25rem;
    line-height: 1.375rem;
    white-space: break-spaces;
    overflow-wrap: break-word;
}

.botText {
    position: relative;
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    text-indent: 0px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.username {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375rem;
    color: #fff;
    display: inline;
    vertical-align: baseline;
    position: relative;
}

.imageWrapper {
    display: block;
    position: relative;
    user-select: text;
    overflow: hidden;
    border-radius: 3px;
}

.imageWrapper img {
    /* position: absolute; */
    width: 100%;
    height: 100%;
}

.clickable {
    cursor: pointer;
}

.messageImage {
    margin-top: 4px;
    margin-bottom: 3px;
    /* size: contain; */
    grid-column: 1 / 1;
    border-radius: 8px;
    contain: paint;
    grid-column: 1 / 3;
    max-width: 560px;
}

.messageAttachment {
    size: contain;
}

.embed {
    position: relative;
    display: grid;
    max-width: 520px;
    box-sizing: border-box;
    border-radius: 4px;
    border-left: 4px solid var(--fullEmbedBackground);
    background: var(--embedBackground);
    border-color: #1e2327;
}

.embedAuthorName,
.embedAuthorNameLink,
.embedDescription,
.embedFieldName,
.embedFieldValue,
.embedFooterText,
.embedLink,
.embedProvider-3k5pfl,
.embedTitle,
.embedTitleLink-1Zla9e {
    unicode-bidi: plaintext;
    text-align: left;
}

.emoji {
    object-fit: contain;
    width: 1.375em;
    height: 1.375em;
    vertical-align: bottom;
}

.embed .emoji {
    width: 18px;
    height: 18px;
}

.embedGrid {
    overflow: hidden;
    max-width: 520px;
    padding: 0.5rem 1rem 1rem 0.75rem;
    display: inline-grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-columns: auto min-content;
}

.embedMargin {
    margin-top: 8px;
}

.embedLink {
    text-decoration: none;
    cursor: pointer;
}

.embedAuthor {
    display: flex;
    align-items: center;
    grid-column: 1 / 1;
}

.embedAuthorName {
    font-size: 0.875rem;
    font-weight: 600;
}

.embedAuthorIcon {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    object-fit: contain;
    border-radius: 50%;
}

.embedTitle {
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    grid-column: 1 / 1;
}

.embedDescription {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    white-space: pre-line;
    grid-column: 1 / 1;
}

.embedImage {
    margin-top: 16px;
    grid-column: 1 / 1;
    border-radius: 4px;
    contain: paint;
    grid-column: 1 / 3;
    max-width: 100%;
}

.embedImage img,
.embedThumbnail img {
    display: block;
    object-fit: fill;
    border-radius: 4px;
}

.embedThumbnail {
    grid-area: 1 / 2 / 8 / 2;
    margin-left: 16px;
    margin-top: 8px;
    flex-shrink: 0;
    justify-self: end;
    /* <> */
    width: 80px;
    height: 80px;
    /* <> */
}

.embedFooter {
    display: flex;
    align-items: center;
    grid-area: auto / 1 / auto / 1;
}

.embedFooter {
    grid-column: 1 / 3;
}

.embedFooterText {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    color: var(--embedTextColor);
}

.embedFooterSeparator {
    font-weight: 500;
    color: var(--embedTextColor);
    display: inline-block;
    margin: 0px 4px;
}

.embedFooterIcon {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    object-fit: contain;
    border-radius: 50%;
}

.embedFields {
    display: grid;
    grid-column: 1 / 1;
    margin-top: 8px;
    gap: 8px;
    min-width: 0px;
    grid-gap: 8px;
}

.embedField {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
    min-width: 0px;
}

.embedFieldName {
    font-weight: 600;
    margin-bottom: 2px;
}

.embedFieldValue {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
    white-space: pre-line;
    min-width: 0px;
}

.embedDescription,
.embedFieldValue {
    color: var(--embedTextColor);
}

.embedAuthorName,
.embedFieldName,
.embedTitle {
    color: #fff;
}

.embedGrid>* {
    display: none;
}

.messageContent {
    user-select: text;
    margin-left: -72px;
    padding-left: 72px;
}

.messageContent.markup {
    font-size: 1rem;
    line-height: 1.375rem;
    white-space: pre-wrap;
    white-space: break-spaces;
    word-wrap: break-word;
    user-select: text;
    font-weight: 400;
}

strong {
    font-weight: 600;
}

u {
    text-decoration: underline;
}

.markup em {
    font-style: italic;
}

.markup strong {
    font-weight: 700;
}

.markup {
    font-size: 1rem;
    line-height: 1.375rem;
    user-select: text;
    color: var(--embedTextColor);
    font-weight: 400;
}

.markup a {
    word-break: break-word;
    text-decoration: none;
    cursor: pointer;
}

.anchor {
    color: var(--link);
}

.markup a:hover {
    text-decoration: underline;
}

.markup code {
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-indent: 0;
    white-space: pre-wrap;
    scrollbar-width: thin;
    scrollbar-color: var(--background-tertiary) var(--background-secondary);
    background: #2f3136;
    border: 1px solid #202225;
}

.markup pre>code {
    display: block;
    overflow-x: auto;
    padding: .5em;
    border-radius: 4px;
    color: var(--header-secondary);
    text-size-adjust: none;
}

.embedMargin {
    word-break: break-all;
}

.embed blockquote {
    max-width: 100%;
}

.blockquote {
    display: flex;
    display: -webkit-box;
}

.blockquote blockquote {
    padding: 0 8px 0 12px;
    box-sizing: border-box;
    text-indent: 0;
}

.blockquote .blockquoteDivider {
    width: 4px;
    border-radius: 4px;
}

.blockquoteDivider {
    background-color: var(--interactive-muted);
}

.container {
    display: grid;
    grid-auto-flow: row;
    row-gap: 0.25rem;
    text-indent: 0px;
    min-height: 0px;
    min-width: 0px;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.container>* {
    place-self: start;
}

.markup code {
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-indent: 0;
    white-space: pre-wrap;
    background: var(--background-secondary);
    border: 1px solid var(--background-tertiary);
}

.markup code.inline {
    width: auto;
    height: auto;
    padding: .2em;
    margin: -.2em 0;
    border-radius: 3px;
    font-size: 85%;
    font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
    text-indent: 0;
    border: none;
    white-space: pre-wrap;
}

.markup>blockquote,
.markup pre {
    max-width: 90%;
}

.embed {
    max-width: 100%;
}

/* Spinner */

.spinner-container {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #2d2f34;
    transform: translate(-50%, -50%);
    top: -50%;
    left: 50%;
    display: none;
}

.spinner-container.attachment {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: transparent;
    transform: translate(-50%, -50%);
    top: -50%;
    left: 50%;
    display: none;
}

.embedImage>.spinner-container {
    background: none;
}

.spinner-container .spinner {
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner-container .spinner .inner {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    contain: paint;
}

@keyframes spinner-wandering-cubes {
    25% {
        transform: translateX(22px) rotate(-90deg) scale(.5);
    }

    50% {
        transform: translateX(22px) translateY(22px) rotate(-180deg);
    }

    75% {
        transform: translateX(0) translateY(22px) rotate(-270deg) scale(.5);
    }

    to {
        transform: rotate(-1turn);
    }
}

.spinner-container .spinner .inner .wanderingCubesItem {
    background-color: #7981f0;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    animation: spinner-wandering-cubes 1.8s ease-in-out infinite;
}

.spinner-container .spinner .inner span:last-child {
    animation-delay: -.9s;
}

.markup pre {
    border-radius: 4px;
    padding: 0;
    font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 6px;
    white-space: pre-wrap;
    background-clip: border-box;
}

.embed code {
    border: none;
    background: var(--background-tertiary);
}

.notification {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    position: fixed;
    bottom: 0px;
}

.notification .inline {
    width: auto;
    height: auto;
    border-radius: 3px;
    font-size: 85%;
    font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
    text-indent: 0;
    border: none;
    overflow: hidden;
    white-space: pre-wrap;
    color: white;
    color: inherit;
    /* border: 1px dashed; */
    padding: .3em 0em;
    border-radius: 2px;
    margin: -.2em 5px;
}

@keyframes notifAn {
    0% {
        opacity: var(--startOpacity, 0);
        bottom: var(--startY, -50px);
    }

    10% {
        opacity: 1;
        bottom: 0px;
    }

    90% {
        opacity: 1;
        bottom: 0px;
    }

    100% {
        opacity: 0;
        bottom: -50px;
    }
}

.notification {
    margin-top: 5px;
    animation: notifAn var(--time, 10s) ease forwards;
    background-color: #202225;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px;
    color: #8c4949;
    display: none;
    width: 100%;
    z-index: 6;
}

body {
    counter-reset: fieldCount;
}

.sep {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #2f313600, #2f3136, #2f313600);
}

body.autoUpdateURL .top-btn.menu>.box .item.auto>.icon::after,
body.no-user .top-btn.menu>.box .item.noUser>.icon::after,
body:not(.single) .top-btn.menu>.box .item.multi>.icon::after,
body.reversed .top-btn.menu>.box .item.reverse>.icon::after {
    display: block;
}

.top-btn.menu.active {
    background: var(--bgc);
}

.top-btn.menu.active>.box {
    display: block;
}

.top-btn.menu.active>svg {
    transform: rotate(90deg);
}

@keyframes emptyTxtAn {
    from {
        opacity: 0;
    }
}

.emptyTxt {
    animation: emptyTxtAn 1s ease;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 16px;
    color: #41444a;
    font-family: var(--font2);
    padding: 10px 0;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.noDisplay {
    display: none !important;
}

body.emptyContent .messageContent,
body.emptyEmbed .messageContent+.container,
body.emptyEmbed .messageContent+.container,
body.emptyContent .messageContent,
.emptyTxt {
    display: none;
}

::-webkit-scrollbar {
    width: 7px;
    background: #292b2f00;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #202225;
}

@media screen and (max-width: 530px) {
    .emptyTxt {
        display: none !important;
    }

    .msgEmbed {
        margin: 20px 0 10px 0;
        padding: 0.125rem 10px 20px 65px;
    }

    body.no-user .msgEmbed {
        padding-left: 25px;
        margin-top: 13px;
    }

    .avatar {
        left: 10px;
    }
}

@media screen and (max-width: 490px) {
    .markup>blockquote,
    .markup pre {
        max-width: 99%;
    }
}

.heading1 {
    font-size: 24px;
    font-weight: bold;
}
.heading2 {
    font-size: 20px;
    font-weight: bold;
}
.heading3 {
    font-size: 16px;
    font-weight: bold;
}

.subheading {
    color: #949ba1;
    font-size: .8125rem;
}