<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Installable App Dashboard</title>
    <link rel="stylesheet" href="/dash/css/style.css" />
    <!-- <link rel="stylesheet" href="./vendors/css/grid.css" />
    <script src="./vendors/css/normalize.css"></script> -->
</head>

<body>
    <div class="nav">
        <a><%= username %></a>
        <a href="/dashboard">Home</a>
        <a href="/dashboard/commands">Commands</a>
        <a href="/dashboard/permissions">Permissions</a>
    </div>

    <div class="card">
        <h2>Command Statuses</h2>
        <% for (const command in commandStatus) { %>
        <div class="list-item">
            <span><%= command %></span>
            <label class="toggle-switch">
                <input type="checkbox" data-command="<%= command %>" <%= commandStatus[command] ? "checked" : "" %> />
                <span class="slider"></span>
            </label>
        </div>
        <% } %>
    </div>

    <script src="/dash/js/commands.js"></script>
</body>

</html>