<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/dash/css/style.css" />
    <title>Logout</title>
</head>

<body>
    <div class="logout">
        <h1>You are now logged out</h1>
        <a href="/login">Log back in</a>
        <!-- <button onclick="window.location.href='./index.html'">Log back in</button> -->
    </div>
</body>

</html>